<form (ngSubmit)="onSubmit(contact)" #contact="ngForm">
  <div style="display: inline-grid">
    <div class="input-field">
      <label for="topic">Temat:</label>
      <input type="text" [(ngModel)]="message.topic" #topic="ngModel" id="topic" class="validate" name="topic" required>
    </div>
    <div class="input-field">
      <label for="message">Wiadomość:</label>
      <textarea [(ngModel)]="message.message" name="message" #mess id="message" cols="50" class="materialize-textarea" rows="10"
        data-length="20" required></textarea>
    </div>

    <div class="input-field inline">
      <label for="email">e-mail:</label>
      <input [(ngModel)]="message.email" type="email" id="email" class="validate" name="email" data-error="Nie poprawy adres"
        data-success="Poprwany" required>
    </div>

    <div class="input-field">
      <label for="nick">Nick:</label>
      <input [(ngModel)]="message.nick" type="text" id="nick" class="validate" name="nick" required>
    </div>

    <button class="btn waves-effect waves-dark pink" [disabled]="!contact.valid" type="submit">Send</button>

  </div>
</form>
<div *ngIf="!topic.valid&&topic.touched" class="text-red">Proszę wypełnić pole Temat</div>
<div *ngIf="!mess.valid&&mess.touched" class="text-red">Proszę wypełnić pole Widomość minimum 5 znaków</div>
<!-- TODO: add validators to input -->
